<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="../css/bootstrap.css"/>
    <script src="../lib/angular.min.js"></script>
    <script src="../lib/bootstrap.js"></script>
    <script src="../lib/jquery-3.3.1.min.js"></script>
    <script src="../lib/app.js"></script>
</head>

<body>
    <div ng-app="MyApp" ng-controller="MyController" style="padding-left: 50px;">
        <h2><b>Form Registration</b></h2><br/>
        <b>First name: </b><i><input type="text" ng-model="myFirstName"/></i><br/>
        Your first-name is: {{myFirstName}}<br/><br/>

        <b>Last name: </b><i><input type="text" ng-model="myLastName"/></i><br/>
        Your last-name is: {{myLastName}}<br/><br/>

        <b>Topics: </b>
        <i>
            <ul>
                <li ng-repeat="topicName in myTopicNames">{{topicName.name}}</li>
            </ul>
        </i><br/>


        <b>Comments: </b><br/><i><textarea rows="4" cols="80" ng-model="myComments"></textarea></i><br/><br/>

        <b>Author: </b>{{getFullName('Vijeth', 'Kumar')}}
    </div>
</body>

</html>